<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

  <title>Title</title>
    <style>

      div.container {
          width: 100%;
      }
      header, footer {
          padding: 1em;
          color: white;
          background-color: DodgerBlue;
          clear: left;
          text-align: center;
      }

    </style>
</head>
<body>
  <div class="container">
    <div class="row justify-content-start">
      <div class="text-center col-sm-12">
        <header>
          <div class="col-10 text-center Semibold 36px btn-info">
            <h1>Contador de Palabras</h1>
          </div>
        </header>
        <form id="formulario" >
          <div class="form-group col-xs-10" style="font-size:20px;" >
            <label for="parrafo" >Ingrese el Texto: </label>
            <input type="text" class="form-control" id="parrafo" name="parrafo" placeholder="Texto"/>
          </div>
          <div class="col-sm-6 col-sm-offset-2">
            <input type="button" class="btn-success" onclick="parseText()" value="Contar Palabras"/>
          </div>
          <div id="results" class="col-xs-10" style="font-size:20px;">
            <p>Resultados</p>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
          integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
          crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>
  <script src="/js/parser.service.js"></script>
  <script src="/js/parser.controller.js"></script>

</html>


